/*For whole document*/
html, body {
  margin:0;
  padding:0;
  font-family: 'Open Sans';
  font-size: 22px;
}

body {
    background-color: #696773;

}

h1 {
  color: white;
  font-size: 60px;
}

/*Header Formatting*/
header {
  background-color: #93A67D;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7px;
}

#name-container {
  position: relative;
  top: 31px;
  left: 10px;
  color: white;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

header ul li {
  float: left;
  font-weight: bold;
  font-size: 23px;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #646F4B;
}

#current-page {
  background-color: #646F4B;
}

#contact-button {
  background-color: #FF9914;
}

#contact-button:hover {
  background-color: #a55e01;
}

/*For all of page info*/
.page-info {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 15px;
  margin-top: 8px;
}

/*For each main content block */
.content-row {
  width:100%;
  display: flex;
  justify-content: center;
}

.content-item {  
  width:100%;
  margin:7px;
  padding:10px;
  
}

.multi-items {
  margin-left: 7px;
  width: 100%;

}
.pair-item {

  float: left;
  width: 50%;
  margin: auto;
  margin-right: 7px;
  background-color: #C6C7D2;

  max-width:1500px;

}

.one-item {
  background-color: #C6C7D2;
  max-width: 1380px;

}



.content {
  margin:10px;
  padding:10px;
  background-color: #C6C7D2;

}

/*For Mini About Me seciton*/
#about {
  display: flex;

}

#face {
  float: left;
  margin-right:15px;
}

/*For Projects Section*/
.figures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
}

figure {
  width: 100%;
  margin: 0 auto;
}
a img {
  margin: 0;
}

#projects {
  margin-bottom: 10px;
}

/*For Form*/
textarea {
  width: 445px;
  height: 50px;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
}

legend {
  font-size: 34px;
}
label {
  font-size: 24px;

}
input{
    font-size:20px;
}

div h2 {
  font-size: 34px;
  margin: 0px;
}

div ul {
  font-size: 24px;
  margin-top: 5px;
}

.rowz {
  width:100%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

}

.rowz-item {
  margin: 7px 9px 7px 9px;
  padding: 0px 50px 0px 25px;
  background-color: #C6C7D2;
}

/*Porfolio Page*/
#download {
  background-color:#C6C7D2;
  margin: 0 0 0 50px;
  padding: 10px 10px 10px 10px;
}

.port-hs {
  margin: 40px 0 10px 0;
  color: white;
  font-size: 50px;
  margin-left: 40px;
}

#skill-list {
  list-style-type: Square;
  overflow: hidden;
}

#skill-list li {
  float: left;
  margin: 5px 45px 5px 2px;
}